.title {
  font-size: 5rem;
  padding: 5rem;
  font-weight: bold;
}

.text {
  font-size: 2.5rem;
  padding: 5rem;
}

.section {
  color: white;
  display: flex;
  height: 100vh;
  position: relative;
  flex-direction: column;
}

.webgl {
  position: fixed;
  top: 100;
  left: 0;
}

.box {
  display: flex;
}

.box:nth-child(even) {
  justify-content: flex-end;
}
